img {
    width: 100%;
    height: auto;
}

body {
    margin: 0 auto !important;
    font-family: "Pretendard", "NanumMyeongjo";
    overflow-x: hidden;
    width: 393px;
    height: 852px;

    min-height: 90vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }
}

a:link,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
}
