.PotMainpageStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.RecommendText,
.AnimationTitle,
.HotpotTitle {
    color: #ffffff;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 26px;
    margin-bottom: 20px;
}
.Search {
    .Alarmbox {
        padding: 20px 25px 0 0;
    }
    .Alarm {
        display: flex;
        justify-content: end;
    }

    .alarmimg {
        width: 27px;
    }

    .searchInput {
        width: 300px;
        height: 40px;
        border-radius: 15px;
        border: 1px solid #999999;
        font-size: 14px;
        font-weight: 100;
        padding: 5px;
        text-indent: 10px; // placeholder 위치 조정

        &:focus {
            outline: 1.5px solid #999999;
        }

        &::placeholder {
            color: #999999;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    .searchBox {
        position: relative;
        width: 300px;
        height: 20px;
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search-Img {
        height: 20px;

        &:hover {
            filter: invert(62%) sepia(87%) saturate(275%) hue-rotate(344deg)
                brightness(102%) contrast(98%);
        }
    }

    #search-Btn {
        border: none;
        background-color: #ffffff;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}

.Animation {
    // 추가 스타일이 필요할 경우 여기에 작성
}

.HotPot {
    .potList {
        background-color: rgba(230, 232, 237, 0.29);
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .listBox {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .listboximg {
        width: 64px;
        height: 64px;
        border-radius: 20px;
    }

    .DetailTitle {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .DetailPlace,
    .DetailDate {
        display: flex;
        flex-direction: row;
        font-size: 10px;
    }

    .listBoxInfo {
        display: flex;
        flex-direction: row;
        background-color: #e6e8ed;
        border-radius: 20px;
        width: 248px;
        height: 64px;
    }

    .detailimgsrc1 {
        width: 13.91px;
        margin-left: -2px;
    }
    .detailimgsrc2 {
        width: 10.91px;
    }
    .potListbox {
        cursor: pointer;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 14px;
        margin-right: 14px;
    }
    .listBoxLeft {
        background-color: #bbc1c5;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listBoxLeftbox {
        display: flex;
        flex-direction: row;
        color: #1c2135;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 11px;
        font-weight: 100;
    }
    .listBoxLeftbox div {
        margin-bottom: 1px;
    }
    .listboxs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
