// OnedayClass_category.scss

.oneday-class-category {
    background-color: #1C2135;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    height: 852px;
  
    h2 {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: left;
    }
  
    .filter {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
  
      .filter-select {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #ddd;
        background-color: #ffffff;
        color: #333;
      }
  
      .filter-button {
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 8px 12px;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  
    .class-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  
    .class-card {
      border-radius: 8px;
      overflow: hidden;
      text-align: left;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      width: 166px;
  
      .class-image {
        width: 100%;
        height: auto;
        display: block;
      }
  
      .class-info {
        padding-top: 10px;
  
        .class-location {
          font-size: 14px;
          color: #E6E8ED;
        }
  
        .class-title {
          font-size: 14px;
          margin: 5px 0;
        }
  
        .view-button {
          display: block;
          width: 100%;
          padding: 8px;
          margin-top: 10px;
          text-align: center;
          background-color: #e6e8ed;
          color: #333;
          border: none;
          border-radius: 5px;
          font-size: 13px;
          cursor: pointer;
        }
      }
    }
  }
  