@import '../../setting/utils';

.mypage_empathy_container {
    width: 100%;

    .mypage_empathy_inner_container {
        width: 100%;

        .mypage_empathy_main_container {
            @include size(100%, 625px);
            position: relative;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            top: 5px;

            &::-webkit-scrollbar {
                display: none;
            }

            .mypage_empathy_back {
                @include size(100%, 625px);
                background-color: #E6E8ED;
                position: absolute;
            }

            .mypage_empathy_area {
                position: absolute;
                padding-top: 45px;
                left: 50%;
                transform: translateX(-50%);

                .mypage_empathy_content_area {
                    @include size(295px, 115px);

                    .mypage_empathy_content {
                        background-color: #fff;

                        .mypage_top_list_options {
                            @include size(105px, 32px);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}